{% case include.author %}
  {% when 'catoaune' %}
    <table><tr><td><img src="/images/cau.jpg" /></td><td>Cato is part of the middleware team at Sysco. He has been working with middleware for the last 10 years, and has since 2010 focused mostly on Oracle middleware products like WebLogic, Oracle SOA suite, Oracle Service Bus and Oracle BPM suite.</td></tr></table>
  {% when 'jphjulstad' %}
    <table><tr><td><img src="/images/jph.jpg" /></td><td>Jon Petter works as a dept. manager for Sysco, responsible for middleware. He has worked with many of the SOA Suite customers in Norway, and has 16 years experience with Oracle Products.</td></tr></table>
{% endcase %}
