{% case include.author %}
  {% when 'catoaune' %}
    <div class="author">
      <div class="picture"><img src="/images/cau.jpg" /></div>
      <div class="bio">Cato is part of the middleware team at Sysco. He has been working with middleware for the last 10 years, and has since 2010 focused mostly on Oracle middleware products like WebLogic, Oracle SOA suite, Oracle Service Bus and Oracle BPM suite.</div>
    </div>
  {% when 'jphjulstad' %}
    <div class="author">
      <div class="picture"><img src="/images/jph.jpg" /></div>
      <div class="bio">Jon Petter is Department Manager for Middleware at SYSCO. Building an organization of skilled Oracle Middleware experts, with a focus on Oracle SOA Suite, Weblogic, Oracle Service Bus, BPM Suite, BAM, Oracle Event Processing. He has worked with Oracle products since 1997, and has worked with some of the larger SOA customers in Norway.

Board member of the Oracle User Group Norway (OUGN), and Oracle ACE Associate.<img src="/images/ace_ass.jpg" /></div>
      <div class="bio"><a href="http://twitter.com/jphjulstad"><img src="/images/folowme.png" />Jphjulstad</a></div> 
    </div>
  {% when 'jeqo' %}
    <div class="author">
      <div class="picture"><img src="/images/jeqo.jpg" /></div>
      <div class="bio">Jorge is part of the middleware team at Sysco and an Oracle ACE Associate <img src="/images/ace_ass.jpg" />. He has developed business solutions based on Oracle Fusion Middleware technologies since 2010. Also he is certified as SOA Architect and Implementation Specialist at BPM, SOA and WebLogic products.</div>
    </div>
  {% when 'pah' %}
    <div class="author">
      <div class="picture"><img src="/images/pah.jpg" /></div>
      <div class="bio">Paal is part of the middleware team at Sysco. He has been working with database, middleware and lately engineered systems. His experience with Oracle Products is since mid-nineties.</div>
    </div>
	{% when 'tisaksen' %}
    <div class="author">
      <div class="picture"><img src="/images/tisaksen.jpg" /></div>
      <div class="bio">Thomas is part of the middleware team at Sysco and has been a developer since 1995 working with HTML,Javascript and Java ++ since the day they were born. He's been working with Oracle middleware and database products since 2006.</div>
    </div>
		{% when 'raul' %}
    <div class="author">
      <div class="picture"><img src="/images/raul.jpg" /></div>
      <div class="bio">Raul has a bachelor's degree in System Engineering and Informatics from San Marcos University in Perú. Before travelling to Norway he had worked for several years as a system administrator with focus on Oracle Application Servers and Oracle Weblogic. Nowadays, he is working for Sysco AS in Norway, where he is investigating about the latest technologies related to the Oracle Fusion Middleware stack such as Oracle SOA Suite 12C and Oracle Cloud Control 12C.</div>
    </div>
{% endcase %}
