{% case include.author %}
  {% when 'catoaune' %}
    <div class="author">
      <div class="picture"><img src="/images/cau.jpg" /></div>
      <div class="bio">Cato is part of the middleware team at Sysco. He has been working with middleware for the last 10 years, and has since 2010 focused mostly on Oracle middleware products like WebLogic, Oracle SOA suite, Oracle Service Bus and Oracle BPM suite.</div>
    </div>
  {% when 'jphjulstad' %}
    <div class="author">
      <div class="picture"><img src="/images/jph.jpg" /></div>
      <div class="bio">Jon Petter works as a dept. manager for Sysco, responsible for middleware. He has worked with many of the SOA Suite customers in Norway, and has 16 years experience with Oracle Products.</div>
    </div>
{% endcase %}
