        
        <div id="container">

            <div id="head-section">

                <div id="social-buttons">
                    <a href="/?page_id=694"><div class="mail"></div></a>
                    <a href="http://www.facebook.com/SyscoAS"><div class="facebook"></div></a>
                    <a href="http://www.linkedin.com/company/sysco-as"><div class="linkedin"></div></a>
                </div>

                                <a href="/?lang=nb"><div id="logo"></div></a>
                <!--<div class="clear"></div>-->
            </div>

            <div id="menu-bg">
                <div id="menu-inner">
                    <div id="mobile-current-menu-item" style="display: none;"></div>
                    
                    <div id="menu-content">
                        <nav class="header-nav"><ul id="menu-header-menu" class="sf-menu"><li id="menu-item-684" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-684"><a href="http://sysco.no/" onclick="_gaq.push(['_trackEvent', 'outbound-widget-int', 'http://sysco.no/', 'Hjem']);" >Hjem</a></li>
<li id="menu-item-721" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-721"><a href="http://sysco.no/tjenester/" onclick="_gaq.push(['_trackEvent', 'outbound-widget-int', 'http://sysco.no/tjenester/', 'Tjenester']);" >Tjenester</a></li>
<li id="menu-item-1358" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1358"><a href="http://sysco.no/energi/" onclick="_gaq.push(['_trackEvent', 'outbound-widget-int', 'http://sysco.no/energi/', 'Energi']);" >Energi</a></li>
<li id="menu-item-702" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-702"><a href="http://sysco.no/om-oss/" onclick="_gaq.push(['_trackEvent', 'outbound-widget-int', 'http://sysco.no/om-oss/', 'Om oss']);" >Om oss</a></li>
<li id="menu-item-701" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-701"><a href="http://sysco.no/jobb/" onclick="_gaq.push(['_trackEvent', 'outbound-widget-int', 'http://sysco.no/jobb/', 'Jobb i SYSCO']);" >Jobb i SYSCO</a></li>
<li id="menu-item-3133" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-3133"><a href="http://sysco.no/blogg" onclick="_gaq.push(['_trackEvent', 'outbound-widget-int', 'http://sysco.no/blogg', 'Blogg']);" >Blogg</a></li>
<li id="menu-item-1622" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1622"><a href="http://sysco.no/kategori/aktuelt/" onclick="_gaq.push(['_trackEvent', 'outbound-widget-int', 'http://sysco.no/kategori/aktuelt/', 'Gode historier']);" >Gode historier</a></li>
<li id="menu-item-699" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-699"><a href="http://sysco.no/servicesenter/" onclick="_gaq.push(['_trackEvent', 'outbound-widget-int', 'http://sysco.no/servicesenter/', 'Servicesenter']);" >Servicesenter</a></li>
</ul></nav><!--.header-nav-->
                    </div>
                    <div id="menu-line-cover"></div>
                    <div id="search-bar-bg">
                        <div id="search-bar">
                            <form role="search" method="get" id="searchform" action="http://sysco.no/">
                                <div>

                                    <input class="search-field" type="text" name="s" id="s" />
                                    <input class="search-button" type="submit" id="searchsubmit" value="" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
