.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

@font-face {
  font-family:sneak_light;
  src:url(/fonts/Sneak-Light.woff2) format("woff2"),url(/fonts/Sneak-Light.woff) format("woff");
  font-weight:300;
  font-style:normal
}

@font-face {
  font-family:sneak_light_italic;
  src:url(/fonts/Sneak-Light-Italic.woff2) format("woff2"),url(/fonts/Sneak-Light-Italic.woff) format("woff");
  font-weight:300;
  font-style:italic
}

@font-face {
  font-family:sneak_regular;
  src:url(/fonts/Sneak-Regular.woff2) format("woff2"),url(/fonts/Sneak-Regular.woff) format("woff");
  font-weight:400;
  font-style:normal
}

@font-face {
  font-family:sneak_regular_italic;
  src:url(/fonts/Sneak-Regular-Italic.woff2) format("woff2"),url(/fonts/Sneak-Regular-Italic.woff) format("woff");
  font-weight:400;
  font-style:italic
}
  
@font-face {
  font-family:sneak_medium;
  src:url(/fonts/Sneak-Medium.woff2) format("woff2"),url(/fonts/Sneak-Medium.woff) format("woff");
  font-weight:500;
  font-style:normal
}

@font-face {
  font-family:sneak_medium_italic;
  src:url(/fonts/Sneak-Medium-Italic.woff2) format("woff2"),url(/fonts/Sneak-Medium-Italic.woff) format("woff");
  font-weight:500;
  font-style:italic
}

@font-face {
  font-family:sneak_medium_quirky;
  src:url(/fonts/Sneak-Medium-Quirky.woff2) format("woff2"),url(/fonts/Sneak-Medium-Quirky.woff) format("woff");
  font-weight:500;
  font-style:normal
}

@font-face {
  font-family:sneak_bold;
  src:url(/fonts/Sneak-Bold.woff2) format("woff2"),url(/fonts/Sneak-Bold.woff) format("woff");
  font-weight:700;
  font-style:normal
}

main,
footer,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

.nav {
  box-shadow: 0 2px 2px -2px $shadow-color;
  overflow: auto;
  display: flex;
  align-items: flex-end;

  background: #121921;

  * {
    color: #FFF;
  }

  &.is-expanded {
    height: 370px;
  }

  &:not(.is-expanded) {
    h1 {
      text-align: left;
      float: left;
    }

    ul {
      float: right;
    }
  }

  &-container {
    margin: 1.5rem auto;
    position: relative;
    text-align: center;
    display: inline-table;
  }

  &-title {
    @include transition(all .2s ease-out);
    font-family: $sans-serif;
    display: block;
    margin: 0;
    padding-right: .2rem;
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: .5rem;
  }

  &-subtitle {
    @include transition(all .2s ease-out);
    font-family: $serif-primary;
    font-weight: 500;
    display: block;
    margin: 0;
    padding-right: .2rem;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    @include transition(all .2s ease-out);
    display: inline-block;
    padding: 0 .5rem 0;
    font-family: $sans-serif;

    &:hover,
    &:focus {
      opacity: 1;
    }

    i {
      margin-right: 10px;
    }

    a {
      outline: none;
    }
  }
}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }
  }
}

footer {
  font-family: $serif-secondary;
  padding: 2rem 0;
  text-align: center;

  span {
    color: $default-color;
    font-size: .8rem;
  }
}

.logo {
  margin: 2rem auto;
  display: block;
  width: 150px;
}
