.author {
  /*width: 60%;*/
  margin: auto;
  padding: 10px;
  background-color:#D6D4D5;
  border-radius: 25px;
  color: black;
  font-weight: bold;
}

.picture {
  width: 20%;
  float: left; 
}

.picture img{
  	
  border-radius: 25px;
  width: 90%;
}

.bio {
  margin-left: 23%;
  line-height: 1;
  border-radius: 25px;
}

