/* 
    Document   : layout
    Created on : Jul 20, 2012, 5:18:19 PM
    Author     : magnus
    Description:
        Purpose of the stylesheet follows.
*/

.clear {
    clear:both;
}

.alignleft {
    float:left;
}

.alignright {
    float:right;
}

.aligncenter {
    margin:0 auto;
    display:block;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.sociable {
  margin-top: 10px;
}

@media screen and (min-width: 960px) {
    #container {
        width: 100%;
        /*height: 100%;*/
        display:block;
        position:relative;
    }
    #head-section {
        width: 960px;
        height: 100px;
        float: top;
        margin: 0 auto;
        display:block;
        position:relative;
    }
    #logo {
        background-image: url(../images/Sysco_logo_300px.png);
        background-repeat: no-repeat;
        margin-top: 25px;
        height: 70px;
        width: 500px;
        float: left;
    }
    #lang {

        margin-top: 10px;
        float: right;
        margin-right: 3px;
        cursor:pointer;cursor:hand;
        /*width: 80px;*/
    }
    #lang_select {
        top: 50px;
        right:3px;
        position: absolute;
        z-index: 20;
        display: none;
    }
    #lang_mob {
        display: none;
    }
    #lang ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    #lang li {
        display: inline;
    }
    #menu-bg {
        width: 100%;
        height: 33px;
        z-index: 900;
        background-image: url(../images/menu_bg.png);
        background-repeat: repeat;
    }
    #menu-inner {
        margin: 0 auto;
        width: 960px;
        height: 100%;
    }
    #menu-content {
        margin-top: 7px;
        /*width: 800px;*/
        z-index: 999;
        float: left;
    }
    #menu-content ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        list-style-image: none;
    }
    #menu-content li {
        display: inline;
        padding-right: 10px;
        padding-left: 9px;
        border-right: 1px dotted #ffffff;
    }
    #menu-line-cover {
        background-image: url(../images/menu_bg.png);
        height: 33px;
        float: left;
        width: 10px;
        margin-left: -5px;
    }
    #search-bar {
        height: 33px;
        width: 146px;
        z-index: 950;
        float: right;
        background-image: url(../images/search.png);
    }
    #presentation{
       width: 100%;
       height: 383px;
       background-color: #007ec6;
    }
    #top-widget{
        width: 100%;
        height: 383px;
        margin: 0 auto;
        z-index: 9;
    }
    #top-widget.h4 {
        visibility: hidden;
    }

    #content-wide {
        width: 100%;
        margin-top: 30px;
        }
    #content-container {
        width: 960px;
        margin: 0 auto;
    }
    #content-inner {
        width: 610px;
        padding-right: 10px;
        float: left;
    }
    #content-sidebar {
        width: 310px;
        float: right;
        padding-left: 10px;
        border-left-width: 1px;
        border-left-style: dotted;
        border-left-color: #c9c9c9;
    }
    #sidebar-submenu {
        margin-top: 0px;
    }
    #sidebar-submenu .page_item {
        list-style: none !important;
        border: #c9c9c9 solid 1px;
        margin-bottom: 2px;
        padding: 10px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        margin-left: 0px;
        background-color: #fefefe;
        
    }
    #footer-bg {

        margin-top: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 0px;
        width: 100% ;
        height: auto;
        background-color: #202020;

    }
    #footer-container {
        width: 960px;
        height: 100%;
        margin: 0 auto;
    }
    #footer-widget-1 {
        width: 298px;
        margin-left: 0px;
        margin-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
        border-right-width: 1px;
        border-right-style: dotted;
        border-right-color: #2d2d2d;
        height: 180px;
        float: left;
        overflow: hidden;
    }
    #footer-widget-2 {
        width: 300px;
        margin-left: 0px;
        margin-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
        border-right-width: 1px;
        border-right-style: dotted;
        border-right-color: #2d2d2d;
        height: 180px;
        float: left;
        overflow: hidden;
    }
    #footer-widget-3 {
        width: 298px;
        margin-left: 0px;
        margin-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
        height: 180px;
        float: left;
        overflow: hidden;
    }
    #widget-box-bottom-bg {
        width: 100%;
        height: 88px;
        margin-top: 15px;
        background-image: url(../images/widget_bottom_bg.png);
        overflow-x: visible;
        overflow-y: hidden;
    }
    #widget-box-bottom-container {
        width: 960px;
        margin: 0 auto;
    }
    #widget-box-bottom-left {
        width: 300px;
        margin-right: 10px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
        /*height: 220px;*/
        float: left;
        overflow: hidden;
    }
    #widget-box-bottom-center {
        width: 308px;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
        /*height: 220px;*/
        float: left;
        overflow: hidden;
    }
    #widget-box-bottom-right {
        width: 300px;
        margin-left: 10px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
        /*height: 220px;*/
        float: left;
        overflow: hidden;
    }
    #grey-logos-container {
        width: 100%;
    }
    #grey-logos-bottom {
        width: 960px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        vertical-align: bottom;
    }
    #conclave{
        /*background-image: url(../images/header-thingie2.png);*/
        background-repeat: no-repeat;
        width: 100%;
        height: 383px;
        margin: 0 auto;
        overflow: hidden;
        background-position: center;
        margin-top: -383px;
        z-index: 10;
        position: absolute;
    }
    #social-buttons{
        margin-top: 10px;
        margin-right: 3px;
        height: 33px;
        width: 105px;
        float: right;
    }
    #social-buttons_mob{
        display: none;
    }
    #gode-historier {
        width: 94px;
        height: 30px;
        z-index: 2000;
        background-image: url(../images/gode_historier.png);
        margin-left: 190px;
        margin-top: 62px;
        position: absolute;
    }
    #search-bar input[type="text"] {
        margin-top: 6px;
        margin-left: 0px;
        margin-right: 10px;
        border: none;
        background: none;
        width: 110px;
        color: #ffffff;
        font-size: 12px;
        float: right;
    }
    #search-bar input[type="submit"] {
        border: none;
        margin-top: 6px;
        margin-left: 3px;
        background: none;
        width: 12px;
        cursor: pointer;
        font-size: 0;
        height: 18px;
        float: left;
    }
    .mail {
        height: 33px;
        width: 33px;
        background-image: url(../images/kontakt_oss_icon.png);
        float: left;
    }
    .facebook {
        height: 32px;
        width: 32px;
        margin-left: 3px;
        background-image: url(../images/icon-facebook.png);
        float: left;
    }
    .linkedin {
        height: 33px;
        width: 33px;
        margin-left: 3px;
        background-image: url(../images/linked_in_icon.png);
        float: left;
    }
    .lang_icon {
        height: 33px;
        width: 33px;
        background-image: url(../images/icon-language.png);
        float: left;
    }
    
}

/* Frontpage slideshow */

#top-widget .wk-slideshow-infinite .caption a {
  text-decoration: none;
}

#top-widget .wk-slideshow-infinite .caption h1 {
    font-size: 50px;
    background: #00a6e3 url("/sysco_no/wp-content/plugins/widgetkit/widgets/slideshow/styles/sysco_slider/images/raster_bg.png") 0 0 repeat;
    margin-bottom: 10px;
    opacity:0.8;
}

#top-widget .wk-slideshow-infinite .caption span {
    background: #000 url("/sysco_no/wp-content/plugins/widgetkit/widgets/slideshow/styles/sysco_slider/images/raster_bg.png") 0 0 repeat;
    opacity:0.8;
}

@media screen and (max-width: 1279px) {
    #top-widget .wk-slideshow-infinite .caption h1 {
        font-size: 35px;
    }
    
    #top-widget .wk-slideshow-infinite .caption span {
        font-size: 20px;
        padding: 6px 10px;
    }
}

@media screen and (max-width: 1024px) {
    #top-widget .wk-slideshow-infinite .caption h1 {
        font-size: 30px;
    }
    
    #top-widget .wk-slideshow-infinite .caption span {
        font-size: 15px;
    }
    
    #top-widget .wk-slideshow-infinite .next, #top-widget .wk-slideshow-infinite .prev {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    #top-widget .wk-slideshow-infinite .caption h1 {
        font-size: 20px;
    }
    
    #top-widget .wk-slideshow-infinite .caption span {
        font-size: 12px;
    }
}

/* Frontpage services */
#content-container #sidebar-submenu table {
    margin-bottom: 0;
}

#sidebar-submenu table p {
    font-size: 85%;
}

#sidebar-submenu table a {
    color: #484848;
}

#sidebar-submenu table a:hover {
    color: #00A6E3;
}


