---
layout: default
---

<div class="post">
  <div class="post-meta">
    <span class="post-meta-avatar" style="background-image:url({{site.authors[page.author].avatar | prepend: site.baseurl}});"></span>
    <div class="post-meta-info">
      <div class="row">
        <span class="post-meta-author">
          {% assign authorCount = page.authors | size %}
          {% if authorCount == 0 %}
          {% assign author = site.authors[page.author] %}
                {{ author.name }}
          {% elsif authorCount == 1 %}
                {% assign author = site.authors[page.author] %}
                {{ author.name }}
          {% else %}
              {% for authorid in page.authors %}
                  {% if forloop.first %}
          {% assign author = site.authors[authorid] %}
                {{ author.name }}
                  {% elsif forloop.last %}
                      and {% assign author = site.authors[authorid] %}
                 {{ author.name }}
                  {% else %}
                      {% assign author = site.authors[authorid] %}
                , {{ author.name }}
                  {% endif %}
              {% endfor %}
          {% endif %},
        </span>
      </div>
      <div class="row">
        <time datetime="{{ post.date }}" class="post-meta-time">{{ page.date | date: "%B %d, %Y" }}</time>
        {% if site.reading_time %}
          <span class="post-meta-devider">&#183;</span>
          <span class="post-readingtime">
            {% assign readtime = page.content | number_of_words | divided_by:site.words_per_minute %}
            {% if readtime <= 1 %}1{% else %}{{ readtime }}{% endif %} min read
          </span>
        {% endif %}
      </div>
    </div>
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {{ content }}

</div>

<div class="pagination">
  <ul>
    {% if page.next.url %}
      <li><a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592; Previous</a></li>
    {% endif %}
    {% if page.previous.url %}
      <li><a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">Next &#8594;</a></li>
    {% endif %}
  </ul>
</div>
